<!DOCTYPE html>
<html lang="en">
<head>
    <?js if (!env.conf.docdash) { env.conf.docdash = {};} ?>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><?js= title ?> | <?js= ((env.conf.docdash.meta && env.conf.docdash.meta.title) || "Documentation") ?></title>
    <?js if (env.conf.docdash.meta) { ?>
    <?js if (env.conf.docdash.meta.description) { ?><meta name="description" content="<?js= env.conf.docdash.meta.description ?>" /><?js } ?>
    <?js if (env.conf.docdash.meta.keyword) { ?>
        <meta name="keywords" content="<?js= env.conf.docdash.meta.keyword ?>" />
        <meta name="keyword" content="<?js= env.conf.docdash.meta.keyword ?>" />
    <?js } ?>
    <?js } ?>
    <?js if (env.conf.docdash.openGraph) { ?>
    <meta property="og:title" content="<?js= env.conf.docdash.openGraph.title ?>"/>
    <meta property="og:type" content="<?js= env.conf.docdash.openGraph.type ?>"/>
    <meta property="og:image" content="<?js= env.conf.docdash.openGraph.image ?>"/>
    <?js if (env.conf.docdash.openGraph.site_name) { ?><meta property="og:site_name" content="<?js= env.conf.docdash.openGraph.site_name ?>"/><?js } ?>
    <meta property="og:url" content="<?js= env.conf.docdash.openGraph.url ?>"/>
    <?js } ?>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alamantus/lighter@1.1.0/dist/lighter.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/alamantus/lighter@1.1.0/dist/fuel.css" />
    <style>
        * > * { font-size: inherit; color: inherit; }
        details summary { cursor: pointer; }
        nav ul { list-style-type: none; padding: 0; }
        nav ul li { display: inline-block; }
        td, th { vertical-align: top; }
        td > p:first-child, th > p:first-child { margin-top: 0; }
    </style>
</head>
<body>
<header style="padding:1rem;">
    <h1 class="mt0"><a href="index.html" style="font-size:inherit;">
        <?js= ((env.conf.docdash.meta && env.conf.docdash.meta.title) || "Documentation") ?>
    </a></h1>

    <details class="card">
        <summary>
            <h2 class="inline m0 p0">Navigation</h2>
        </summary>
        <?js= this.nav ?>
    </details>
</header>

<main class="c">
    <?js= content ?>
</main>

<footer>
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>.
</footer>
</body>
</html>
